*{
  margin: 0;
  padding: 0;
}
 
#clockContainer{
  background: url(clock.jpg) no-repeat;
  height: 40vw;
  width: 40vw;
  background-size: 100%;
  margin: auto;
  position: relative;
  /* to make the div hour minute and second still we are using position relative */
  
  
}

#hour, #minute, #second{
  position: absolute;
  background: black;
  border-radius: 10px;
}

#hour{
    width: 3%;
    height: 33%;
    left: 48.5%;
    top: 18%;
    transform-origin: bottom;
    
}

#minute{
    width: 2%;
    height: 25%;
    left: 49.2%;
    top: 24%;
    opacity: 0.8;
    transform-origin: bottom;
}
 
 #second{
    width: 1%;
    height: 34%;
    left: 49.5%;
    top: 17%;
    opacity: 0.9;
    transform-origin: bottom;
 }